:root {
    --nav_bar_button_margin: 4px;
    --nav_bar_width: 48px;
    --nav_bar_height: 40px;
    --nav_bar_border: 1px solid var(--border_color_primary);
    --nav_tab_bg: transparent;
    --nav_tab_bg_active: hsla(0deg, 0%, 36%, 40%);
    --nav_tab_fg: white;
    --nav_tab_fg_active: white;
    --nav_tab_border: 1px solid black;
    --nav_border_active: 1px solid hsl(0deg, 0%, 30%);
}

.container {
    display: grid;
    grid-template-rows: var(--nav_bar_height) calc(100% - var(--nav_bar_height));
    grid-template-columns: 1fr;
    background: var(--background);
    height: 100%;
}

.navbar_mac {
    color: rgb(255, 255, 255);
    line-height: 24px;
    text-align: center;
    align-items: center;

    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: var(--nav_bar_height);

    padding-left: 64px;
}

.navbar_default {
    color: rgb(255, 255, 255);
    line-height: 24px;
    text-align: center;
    align-items: center;

    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: var(--nav_bar_height);
}

.version_container {
    grid-row: 1;
    grid-column: 3;
    display: grid;
    font-weight: 300;
    color: var(--nav_tab_fg);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    margin-right: 16px;
}

.tabs {
    grid-row: 1;
    grid-column: 2;
    color: var(--nav_tab_fg);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    margin-left: 16px;
}
.tab {
    position: relative;
    color: var(--nav_tab_fg);
    height: 30px;
    border-radius: var(--border_radius);
    border: 1px solid transparent !important;
}
.tab:hover {
    background-color: var(--nav_tab_bg_active);
    border: var(--nav_border_active) !important;
}
.tab.active {
    background-color: var(--nav_tab_bg_active) !important;
    border: var(--nav_border_active) !important;
}

.tab_navbar {
    display: block;
}

.tab_button {
    -webkit-appearance: none;
    background: none;

    text-decoration: none;
    color: var(--nav_tab_fg) !important;
    font-family: 'Roboto';

    width: 100%;
    height: 100%;
    padding: 0px 8px;
    background-color: transparent !important;
    border-radius: var(--border_radius);
    border: 1px solid transparent;

    display: flex !important;
    flex-direction: row  !important;
    column-gap: 8px;
}
.tab_button_text {
    font-family: 'Roboto';
    font-weight: 300 !important;
    font-size: 0.9rem;
    margin-top: 1px;
}

/* Dead, but useful should we ever add an unread log counter */
.tab_button_count {
    font-weight: 400 !important;
    font-size: 0.8rem;
    background: rgba(0, 0, 0, 0.3);
    padding: 2px 6px;
    border-radius: var(--border_radius);
}

.page_container {
    grid-row: 2;
    grid-column: 1;
    height: calc(100% - 8px);
    width: calc(100% - 16px);
    margin: 0px 8px 8px 8px;

    box-sizing: border-box;
    overflow: hidden;
}
