.page {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 48px calc(100% - 48px);
    grid-template-columns: 100%;

    background-color: white;
}

.page_title {
    font-size: 1rem;
}

.header_container {
    grid-row: 1;
    width: 100%;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: max-content auto max-content;

    border-bottom: 1px solid var(--border_color_primary);
}

.header_left_container {
    grid-column: 1;
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 2px;
}

.body_container {
    grid-row: 2;
}

