
.connector_header_container {
    position: relative;

    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: 56px;

    background-color: var(--connector_header_background);
    border-bottom: 1px solid var(--border_color_primary);
}
.connector_body_container {
    min-height: 48px;
}

.platform_logo {
    grid-row: 1;
    grid-column: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

.platform_name {
    grid-row: 1;
    grid-column: 2;

    font-size: 1.1rem;

    display: flex;
    align-items: center;
    margin-left: 16px;
}

.platform_actions {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    align-items: center;
    margin-right: 16px;
    column-gap: 8px
}
