.example_section_layout {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: start;
}

.example_schema {
    display: grid;
    grid-template-rows: 32px max-content;
}

.example_schema_name {
    font-weight: 500;
}

.example_scripts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 16px;
}

.example_script {
    border: 1px solid var(--border_color_primary);
    border-radius: var(--border_radius);
    overflow: hidden;
    font-size: 0.9rem;
}

.example_script_name {
    grid-row: 1;
    grid-column: 1 / span 2;
    padding: 2px 8px;
    border-bottom: 1px solid var(--border_color_primary);
}

.example_script_info {
    display: flex;
    flex-direction: row;
    background-color: hsl(210, 29%, 97%);
}

.example_script_type {
    grid-row: 2;
    grid-column: 1;
    padding: 2px 8px 2px 8px;
    font-size: 0.8rem;
    flex: 1;
}

.example_script_table_count {
    grid-row: 2;
    grid-column: 2;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0 8px 0 8px;
    border-left: 1px solid var(--border_color_primary);
}

.example_script_table_count_label {
    margin-left: 6px;
}
