.body_container {
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border_color_primary);
    background-color: white;
}
@media only screen and (max-width: 800px) {
    .section_layout {
        padding: 0px 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
}
@media only screen and (min-width: 800px) {
    .section_layout {
        position: relative;
        padding: 0px 16px;
        width: 100%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 32px;
        row-gap: 16px;
    }
}

.kvlist {

}
.kvlist_name {
    font-weight: 600;
    font-size: 14px;
    margin-top: 8px;
}
.kvlist_caption {
    font-size: 12px;
    color: #656d76;
    margin-top: 2px;
}
