.version_check_container {
    position: relative;
    display: inline-flex;
    flex-direction: row;
}
.version_check_container_with_indicator {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    margin-right: 4px;
}

.version_check_icon {
    display: inline-flex;
}

.version_check_indicator {
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: -3px;
    right: -7px;

    display: inline-flex;
    color: var(--base_color_yellow_1);
}
