/cmake-build-debug
.idea
.DS_Store
node_modules
/target
/.cache
/.infra
/.vscode
/.venv
/default.profraw
/default.prof
yarn-error.log
*.afdesign~lock~
*.provisionprofile
*.cer
*.keychain-db

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/todo.txt
