:root {
    --background_color_primary: hsl(208.5deg 24.69% 31.76%);
    --border_color_primary: rgb(208, 215, 222);
    --border_radius: 8px;

    --button_fg: hsl(210, 24%, 22%);
    --button_fg_inverted: rgb(255, 255, 255);
    --button_hover_fg: rgb(255, 255, 255);
    --button_hover_fg_inverted: hsl(210, 24%, 32%);
    --button_hover_bg: hsl(210deg, 12%, 16%);
    --button_hover_bg_inverted: hsl(210deg, 12%, 6%);

    --nav_bar_bg: hsl(208.5deg 24.69% 31.76%);
    --nav_bar_button_margin: 4px;
    --nav_bar_width: 48px;
    --nav_bar_height: 40px;
    --nav_bar_border: 1px solid var(--border_color_primary);
    --nav_tab_bg: transparent;
    --nav_tab_bg_active: hsl(208.5deg 24.69% 40.76%);
    --nav_tab_fg: white;
    --nav_tab_fg_active: white;
    --nav_tab_border: 1px solid black;
    --nav_border_active: 1px solid hsl(208.5deg 24.69% 28.76%);

    --pagenav_body_background: hsl(210, 29%, 97%);
    --pagenav_tabs_background: hsl(210, 24%, 92%);
    --pagenav_tabs_background_active: hsl(208.5deg 20.69% 50.76%);
    --pagenav_tabs_foreground_active: white;
    --pagenav_tabs_background_hover: hsl(208.5deg 24.69% 80.76%);
    --pagenav_tabs_border_active: 1px solid hsl(208.5deg 20.69% 44.76%);
    --pagenav_tabs_disabled_color: hsl(210, 24%, 62%);
    --pagenav_tabs_indicator_color: rgb(254, 150, 0);

    --loader_card_header_background: hsl(210, 29%, 97%);

    --editor_header_bg: hsl(210, 29%, 97%);
    --editor_gutter_bg: rgb(246, 248, 250);
    --editor_colref_bg: hsl(210, 24%, 88%);
    --editor_queryedge_bg: hsl(210, 24%, 88%);
    --stats_bar_fg: hsl(210, 24%, 92%);
    --stats_bg: hsl(210deg, 28.57%, 97.25%);
    --stats_value_fg: rgb(140, 140, 140);

    --connector_header_background: hsl(210, 29%, 97%);
    --connector_status_background: hsl(210, 24%, 92%);
    --connector_status_foreground: hsl(212, 8%, 23%);

    --graph_title_fg: rgb(0, 0, 0);
    --graph_bg: hsl(210, 29%, 97%);
    --graph_node_bg: white;
    --graph_node_inactive_bg: hsl(210, 24%, 94%);
    --graph_edges_bg: hsl(210deg, 12.68%, 84.16%);
    --graph_edge_focus_color: hsl(212.44deg, 92.07%, 44.51%);
    --graph_card_port_bg: hsl(210deg, 12.68%, 84.16%);
    --graph_card_column_count_bg: rgb(0, 0, 0, 0.05);
    --graph_card_bg: rgb(255, 255, 255);
    --graph_card_focus_fg: hsl(212.44deg, 92.07%, 44.51%);
    --graph_port_size: 14px;
    --graph_control_hover_bg: rgba(208, 215, 222, 0.32);

    --skeleton_base_color: hsl(210, 29%, 97%);
    --skeleton_highlight_color: hsl(210, 29%, 94%);
    --skeleton_animation_duration: 1.5s;
    --skeleton_animation_direction: normal;

    --background_color_80: hsl(208.5deg, 24.69%, 31.76%);
    --background_color_100: hsl(208.5deg, 24.69%, 23.76%);
    --background: radial-gradient(circle at 50% 50%, var(--background_color_80) 20%, transparent 80%),
        conic-gradient(
            from 45deg at 50% 50%,
            var(--background_color_100) 0%,
            var(--background_color_80) 25%,
            var(--background_color_100) 50%,
            var(--background_color_80) 75%,
            var(--background_color_100) 100%
        );

    --logo_color_salesforce: rgb(0, 161, 224);

    --overlay_background: rgba(0, 0, 0, 0.15);

    --log_border_color: rgb(208, 215, 222);
    --log_background: hsl(210, 29%, 94%);
    --log_cell_background: hsl(210, 29%, 97%);

    --shadow_small: 0 1px 0 rgba(31, 35, 40, 0.04);
    --shadow_medium: 0 3px 6px rgba(140, 149, 159, 0.15);
    --shadow_large: 0 8px 24px rgba(140, 149, 159, 0.2);
    --shadow_extra_large: 0 12px 28px rgba(140, 149, 159, 0.3);

    --drag_resizing_handler_bg: hsl(210deg 17.5% 92.31%);
    --drag_resizing_handler_structure_bg: hsl(208.5deg, 24.69%, 31.76%);
    --drag_handler_size: 8px;
}

:root {
    font-family: 'Roboto';
    color: var(--base_color_black);
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#root {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
