.button_group > :first-child {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}
.button_group > :last-child {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}
