
.overlay {
    display: grid;
    grid-template-rows: 48px max-content max-content max-content;
    grid-template-columns: 100%;
}

.header_container {
    grid-row: 1;
    width: 100%;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: max-content auto max-content;

    border-bottom: 1px solid var(--border_color_primary);
    border-top-right-radius: var(--border_radius);
    border-top-left-radius: var(--border_radius);
}

.header_left_container {
    grid-column: 1;
    margin-left: 16px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.header_right_container {
    grid-column: 3;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    padding: 0px 8px;
    overflow: hidden;
}

.title {
    font-size: 1rem;
}

.internals_container {
    padding: 12px 16px;
    font-size: 0.9rem;
}

.settings_container {
    width: 100%;
    min-width: 240px;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-column-gap: 16px;
    align-items: center;
}

.setting_name {
    grid-column: 1;
}
.setting_switch {
    grid-column: 2;
}
