.overlay {
    height: 100%;
    display: grid;
    grid-template-rows: 48px 1fr;
}

.header_container {
    grid-row: 1;
    width: 100%;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: max-content auto max-content;

    border-bottom: 1px solid var(--border_color_primary);
    border-top-right-radius: var(--border_radius);
    border-top-left-radius: var(--border_radius);
}

.header_left_container {
    grid-column: 1;
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.header_right_container {
    grid-column: 3;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    padding: 0px 8px;
    overflow: hidden;
}

.title {
    font-size: 1rem;
}

.log_grid_container {
    grid-row: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--log_background);
    border-radius: 0 0 var(--border_radius) var(--border_radius);
}

.cell_timestamp {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid var(--log_border_color);
    background-color: var(--log_cell_background);
    font-size: 0.7rem;
    text-wrap: nowrap;
}

.cell_level {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--log_border_color);
    background-color: var(--log_cell_background);
    font-size: 0.8rem;
    font-weight: 500;
    text-wrap: nowrap;
}
.cell_target {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: start;
    align-items: center;

    padding-left: 8px;
    padding-right: 2px;
    border-bottom: 1px solid var(--log_border_color);
    background-color: var(--log_cell_background);
    font-size: 0.8rem;
    overflow: hidden;
    text-wrap: nowrap;
}
.cell_message {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: start;
    align-items: center;

    padding-left: 8px;
    border-bottom: 1px solid var(--log_border_color);
    background-color: var(--log_cell_background);
    font-size: 0.8rem;
    text-wrap: nowrap;
    overflow: hidden;

    position: relative;
}
