.container {
    display: flex;
    justify-content: center;
    background-color: var(--nav_bar_bg);
    height: 100%;
}

.center_container {
    display: grid;
    grid-template-rows: var(--nav_bar_height) calc(100% - var(--nav_bar_height));
    grid-template-columns: 1fr;
    height: 100%;
    flex: 1;
}

.navbar_mac {
    -webkit-app-region: drag;

    color: rgb(255, 255, 255);
    line-height: 24px;
    text-align: center;
    align-items: center;

    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: var(--nav_bar_height);

    padding-left: 64px;
}

.navbar_default {
    -webkit-app-region: drag;

    color: rgb(255, 255, 255);
    line-height: 24px;
    text-align: center;
    align-items: center;

    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: var(--nav_bar_height);
}

.page_container {
    grid-row: 2;
    grid-column: 1;
    height: calc(100% - 8px);
    width: calc(100% - 16px);
    margin: 0px 8px 8px 8px;

    border-radius: var(--border_radius);
    overflow: hidden;
}

.tabs {
    grid-row: 1;
    grid-column: 2;
    color: var(--nav_tab_fg);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    margin-left: 16px;
}
.tab {
    position: relative;
    background-color: var(--nav_tab_bg);
    color: var(--nav_tab_fg);
    height: 30px;
    border-radius: 8px;
}
.tab:hover {
    background-color: var(--nav_tab_bg_active);
}
.tab.active {
    background-color: var(--nav_tab_bg_active) !important;
}

.tab_navbar {
    display: block;
}

.tab_link {
    text-decoration: none;
    color: var(--nav_tab_fg) !important;
    width: 100%;
    height: 100%;
    font-weight: 100;
    font-size: 0.9rem;
    padding: 0px 12px;
    background-color: transparent !important;
}
