.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay_background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: var(--overlay_background);
}

.overlay_card {
    width: 90%;
    max-width: 480px;
    max-height: 320px;
    z-index: 200;
    border-radius: var(--border_radius);
    border: 1px solid var(--log_border_color);

    display: grid;
    grid-template-rows: 48px calc(100% - 48px);
    grid-template-columns: 100%;

    background-color: white;
    box-shadow: var(--shadow_medium);
}

.header_container {
    grid-row: 1;
    width: 100%;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: max-content auto max-content;

    border-bottom: 1px solid var(--border_color_primary);
    border-top-right-radius: var(--border_radius);
    border-top-left-radius: var(--border_radius);
}

.header_left_container {
    grid-column: 1;
    margin-left: 16px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.header_right_container {
    grid-column: 3;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    padding: 0px 8px;
    overflow: hidden;
}

.title {
    font-size: 1rem;
}

.version_info_container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 8px;
    padding: 8px 0px;
    font-size: 0.9rem;
}

.version_info_key {
    grid-column: 1;
    padding: 8px 16px;
}
.version_info_value {
    grid-column: 2;
    padding: 8px 16px;
}
