.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay_background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: var(--overlay_background);
}

.overlay_card {
    max-height: 320px;
    z-index: 200;
    border-radius: var(--border_radius);
    border: 1px solid var(--log_border_color);

    display: grid;
    grid-template-rows: 48px max-content max-content;
    grid-template-columns: 100%;

    background-color: white;
    box-shadow: var(--shadow_medium);
}

.header_container {
    grid-row: 1;
    width: 100%;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: max-content auto max-content;

    border-bottom: 1px solid var(--border_color_primary);
    border-top-right-radius: var(--border_radius);
    border-top-left-radius: var(--border_radius);
}

.header_left_container {
    grid-column: 1;
    margin-left: 16px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.header_right_container {
    grid-column: 3;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    padding: 0px 8px;
    overflow: hidden;
}

.title {
    font-size: 1rem;
}

.version_info_container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 8px;
    padding: 4px 0px;
    font-size: 0.9rem;
}

.version_info_key {
    grid-column: 1;
    padding: 8px 16px;
    display: grid;
    justify-content: start;
    align-items: center;
}
.version_info_value {
    grid-column: 2;
    padding: 8px 16px;
}

.release_channels_container {
    border-top: 1px solid var(--border_color_primary);
    font-size: 0.9rem;
    padding: 4px 0px;
}

.release_channels_title {
    padding: 8px 16px 8px 16px;
    font-weight: 500;
}

.release_channel_list {
    display: grid;
    padding: 0px 12px 4px 16px;
    column-gap: 20px;
    grid-template-rows: 40px 40px;
    grid-template-columns: max-content max-content minmax(80px, auto);
    align-items: center;
}
.release_channel_name {
    grid-column: 1;
    justify-self: start;
}
.release_channel_version {
    grid-column: 2;
    justify-self: start;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
}
.release_channel_version_icon {
}
.release_channel_version_name {
}
.release_channel_action {
    grid-column: 3;
    justify-self: end;

    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
}
.release_channel_action_status {
}
.release_channel_action_status_disabled {
    /* color: hsl(212, 8%, 73%); */
    margin-right: 2px;
}
