.container {
    position: relative;
    box-sizing: border-box;
    background-color: var(--graph_bg);
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: 100%;
}

.tabs {
    grid-row: 1;
    grid-column: 1;
    background-color: var(--editortabs_background);
    border-right: 1px solid var(--border_color_primary);

    display: flex;
    flex-direction: column;
    padding: 4px;
    row-gap: 8px;
    height: 100%;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
}
.tab_icon {
    width: 100%;
    height: 32px;
    display: grid;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: var(--border_radius);
    color: var(--button_fg);
}
.tab_label {
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--button_fg);
}

.tab:hover > .tab_icon {
    background-color: var(--action_item_hover_bg);
}
.tab_disabled:hover > .tab_icon {
    background-color: transparent !important;
}
.tab_disabled > .tab_icon {
    color: var(--editortab_disabled_color);
}
.tab_disabled > .tab_label {
    color: var(--editortab_disabled_color);
}
.tab_active > .tab_icon {
    background-color: var(--editortabs_background_active) !important;
}

.body {
    grid-row: 1;
    grid-column: 2;

    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
