@media only screen and (max-width: 400px) {
    .sharing_overlay {
        width: 340px;
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }
}
@media only screen and (min-width: 400px) {
    .sharing_overlay {
        width: 340px;
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }
}

.sharing_url {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 8px;
    row-gap: 4px;
    padding: 12px 12px 0px 12px;
}
.sharing_url_stats {
    font-size: 0.8rem;
    font-weight: 500;
    color: #8c959f;
    text-align: right;
    margin-right: 4px;
}

