@media only screen and (max-width: 1100px) {
    .page {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: 48px calc(100% - 48px);
        grid-template-columns: 100%;

        background-color: white;
        border: 1px solid var(--log_border_color);
        border-radius: var(--border_radius);
        overflow: hidden;
    }
    .header_container {
        grid-row: 1;
        width: 100%;

        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: max-content auto max-content;

        border-bottom: 1px solid var(--border_color_primary);
    }
    .body_container {
        position: relative;
        grid-row: 2;

        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    .header_action_container {
        grid-column: 3;
        height: 100%;
        margin-right: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 8px;
    }
    .header_action_connector {
        color: black !important;
        font-weight: 400 !important;
    }
    .action_sidebar {
        display: none;
    }
}
@media only screen and (min-width: 1100px) {
    .page {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: 48px calc(100% - 48px);
        grid-template-columns: max-content 1fr max-content;

        background-color: white;
        border: 1px solid var(--log_border_color);
        border-radius: var(--border_radius);
        overflow: hidden;
    }
    .header_container {
        grid-row: 1;
        grid-column: 1 / span 3;
        width: 100%;

        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 120px auto max-content;

        border-bottom: 1px solid var(--border_color_primary);
    }
    .header_action_container {
        display: none;
    }
    .workbook_entry_sidebar {
        grid-row: 2;
        grid-column: 1;

        border-right: 1px solid var(--border_color_primary);
        background-color: hsl(214.29deg 17.95% 92.35%);
    }
    .body_container {
        position: relative;
        grid-row: 2;
        grid-column: 2;

        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    .action_sidebar {
        border-left: 1px solid var(--border_color_primary);
        grid-row: 2;
        grid-column: 3;
    }
    .action_list {
        display: grid;
        grid-template-rows: max-content max-content max-content;
        margin: 8px 8px;
    }
    .data_actions {
        border-radius: 8px;
        border: 1px solid var(--border_color_primary);
        background-color: white;
    }
    .project_actions {
        border-radius: 8px;
        border: 1px solid var(--border_color_primary);
        background-color: white;
    }
    .sidebar_connector_selection {
        width: calc(100% - 12px);
        margin-left: 6px;
    }
}

.page_title {
    font-size: 1rem;
}

.header_left_container {
    grid-column: 1;
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
}

.output_container {
    height: 55%;
}

.output_card {
    position: relative;
}

.editor_container {
    flex: 1;
    overflow: hidden;
    border-bottom: 1px solid var(--border_color_primary);
}

.editor_card {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
