.container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: 40px calc(100% - 40px);
}

.navbar {
    grid-row: 1 / span 2;
    grid-column: 1;
    background-color: var(--navbar_background);
    border-radius: calc(var(--border_radius) - 1px) 0px 0px 0px;
    border-right: 1px solid var(--border_color_primary);

    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar_tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navbar_tab {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--border_color_primary);
    color: var(--color_icon);
}
.navbar_tab:hover {
    background-color: var(--action_item_hover_bg);
}
.navbar_tab:first-child {
    border-radius: calc(var(--border_radius) - 1px) 0px 0px 0px;
}
.navbar_tab_active {
    background-color: var(--navbar_background_active) !important;
}
.navbar_tab_active::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: 0;
    content: '';
    width: var(--navbar_indicator_width);
    background-color: var(--navbar_indicator_color);
}
.navbar_tab_disabled {
    display: none !important;
}

.navbar_account {
    width: 100%;
    color: var(--color_icon);
}
.navbar_account_button {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerbar {
    grid-row: 1;
    grid-column: 2;
    background-color: var(--headerbar_background_color);
    border-radius: 0px calc(var(--border_radius) - 1px) 0px 0px;
    border-bottom: 1px solid var(--border_color_primary);

    display: grid;
    grid-template-columns: auto max-content max-content;
    grid-template-rows: 100%;
}

.script_title_container {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.script_title {
    margin-left: 16px;
    font-size: 1rem;
}

.script_statistics_bar {
    grid-column: 2;
}

.example_loader_container {
    grid-column: 3;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.example_loader_button {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 var(--border_radius) 0 0;
    border-left: 1px solid var(--border_color_primary);
    color: var(--color_icon);
}
.example_loader_button:hover {
    background-color: var(--action_item_hover_bg);
}
.button_icon {
    pointer-events: none;
}

.editor_with_loader {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: 100%;
}

.editor {
    height: 100%;
    width: 100%;
}

.loader_container {
    width: 240px;
    background-color: var(--loader_background);
    border-left: 1px solid var(--border_color_primary);
}
