.container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: 40px auto;
}

.tabbar {
    grid-row: 1 / span 2;
    grid-column: 1;
    background-color: var(--tabbar_background);
    border-radius: calc(var(--border_radius) - 1px) 0px 0px 0px;
    border-right: 1px solid var(--border_color_primary);

    display: flex;
    flex-direction: column;
}

.tabbar_tab {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--border_color_primary);
    border-left: var(--tabbar_indicator_width) solid transparent;
}
.tabbar_tab:first-child {
    border-radius: calc(var(--border_radius) - 1px) 0px 0px 0px;
}

.tabbar_tab_active {
    background-color: var(--tabbar_background_active);
    border-left: var(--tabbar_indicator_width) solid var(--tabbar_indicator_color) !important;
}

.headerbar {
    grid-row: 1;
    grid-column: 2;
    background-color: var(--background_color_primary);
    border-radius: 0px calc(var(--border_radius) - 1px) 0px 0px;
    border-bottom: 1px solid var(--border_color_primary);

    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: 100%;
}

.headerbar_left {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerbar_script_title {
    margin-left: 16px;
    font-size: 11pt;
}

.headerbar_right {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.example_loader_container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.example_loader_button {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 var(--border_radius) 0 0;
    border-left: 1px solid var(--border_color_primary);
}

.example_loader_selected {
    width: 120px;
}

.codemirror {
    grid-row: 2;
    grid-column: 2;
}
