.page {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
}

@media only screen and (max-width: 840px) {
    .editor_section {
        position: absolute;
        bottom: 0;
        width: 96%;
        left: 2%;
    }
}
@media only screen and (min-width: 840px) {
    .editor_section {
        position: absolute;
        bottom: 0;
        width: 800px;
        left: calc(50% - 400px);
    }
}

.header_left_container {
    position: absolute;
    top: 16px;
    left: 20px;
}

.header_right_container {
    position: absolute;
    top: 16px;
    right: 20px;
    display: flex;
    flex-direction: row;
}

.header_github_buttons {
    display: grid;
    grid-template-rows: 32px;
    grid-template-columns: repeat(2, 40px);
    border-radius: 8px;
    border: 1px solid rgb(200, 200, 200);
    background-color: white;
}

.header_github_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_examples {
    margin-right: 16px;
    display: grid;
    grid-template-rows: 32px;
    border-radius: 8px;
    border: 1px solid rgb(200, 200, 200);
    background-color: white;
}

.header_logo {
    height: 16px;
}

.header_version {
    font-size: 9pt;
    color: rgb(160, 160, 160);
    margin-top: 2px;
}

.modelgraph_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.editor_card {
    box-sizing: border-box;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 8px 8px 0px 0px;
    background-color: white;
    width: 100%;
    height: 100%;
}
