.page {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--background_color_primary);
}

.modelgraph_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 840px) {
    .editor_container {
        position: absolute;
        bottom: 0;
        width: 96%;
        left: 2%;
    }
}
@media only screen and (min-width: 840px) {
    .editor_container {
        position: absolute;
        bottom: 0;
        width: 800px;
        left: calc(50% - 400px);
    }
}

.header_left_container {
    position: absolute;
    top: 16px;
    left: 20px;
}

.header_right_container {
    position: absolute;
    top: 16px;
    right: 20px;
    display: flex;
    flex-direction: row;
}

.header_button_group {
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    height: 32px;
    border-radius: var(--border_radius);
    border: 1px solid var(--border_color_primary);
    background-color: white;
}

.header_button {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_button:not(:first-child) {
    border-left: 1px solid var(--border_color_primary);
}

.header_examples {
    display: grid;
    grid-template-rows: 32px;
    border-radius: var(--border_radius);
    border: 1px solid var(--border_color_primary);
    background-color: white;
}

.header_logo {
    height: 16px;
}

.header_version {
    font-size: 9pt;
    color: var(--color_version);
    margin-top: 2px;
}

.editor_card {
    box-sizing: border-box;
    border: 1px solid var(--border_color_primary);
    border-radius: var(--border_radius) var(--border_radius) 0px 0px;
    background-color: white;
    width: 100%;
    height: 100%;
}
