.page {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--background_color_primary);

    display: grid;
    grid-template-rows: 72px calc(100% - 80px);
    grid-template-columns: 100%;
    align-items: middle;
    justify-content: middle;
}

.header_container {
    grid-row: 1;
    width: 100%;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: max-content auto max-content;

    background-color: var(--headerbar_background_color);
    border-bottom: 1px;
    border: 1px solid var(--border_color_primary);
}

@media only screen and (max-width: 1000px) {
    .body_container {
        grid-row: 2;
        height: 100%;
        padding-top: 20px;
        margin-right: 2%;
        margin-left: 2%;

        display: grid;
        grid-template-rows: auto 67%;
        grid-template-columns: 100%;
        row-gap: 20px;
    }
}
@media only screen and (min-width: 1000px) {
    .body_container {
        grid-row: 2;
        height: 100%;
        width: 960px;
        padding-top: 20px;
        margin: auto;

        display: grid;
        grid-template-rows: auto 67%;
        grid-template-columns: 100%;
        row-gap: 20px;
    }
}

.header_left_container {
    grid-column: 1;
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 2px;
}

.header_right_container {
    grid-column: 3;
    height: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_button_group {
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    height: 32px;
    border-radius: var(--border_radius);
    border: 1px solid var(--border_color_primary);
    background-color: white;
}

.header_button {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_icon);
}

.header_button:not(:first-child) {
    border-left: 1px solid var(--border_color_primary);
}

.header_button:hover {
    background-color: var(--action_item_hover_bg);
}

.header_examples {
    display: grid;
    grid-template-rows: 32px;
    border-radius: var(--border_radius);
    border: 1px solid var(--border_color_primary);
    background-color: white;
}

.header_logo {
    height: 16px;
}

.header_version {
    font-size: 0.9rem;
    color: var(--color_version);
    margin-top: 2px;
}

.schemagraph_container {
    grid-row: 1;
    width: 100%;
    height: 100%;
}

.schemagraph_card {
    position: relative;
    box-sizing: border-box;
    border: 1px solid var(--border_color_primary);
    border-radius: var(--border_radius);
    background-color: var(--graph_bg);
    width: 100%;
    height: 100%;
}

.schemagraph {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.editor_container {
    grid-row: 2;
    position: relative;
}

.editor_card {
    box-sizing: border-box;
    border: 1px solid var(--border_color_primary);
    border-radius: var(--border_radius) var(--border_radius) 0px 0px;
    background-color: white;
    width: 100%;
    height: 100%;
}
