.auth_config_container {
    padding: 0px 16px 12px 16px;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 16px;
}
.auth_config_protocol {
    grid-column: 1;
    margin-right: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auto_config_protocol_settings {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 16px;
}
.auth_config_connect {
    grid-column: 2;
}
