@media only screen and (max-width: 1100px) {
    .page {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: 48px calc(100% - 48px);
        grid-template-columns: 100%;
    }
    .header_container {
        grid-row: 1;
        width: 100%;

        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: max-content auto max-content;
        background-color: var(--background_color_primary);

        border-bottom: 1px solid var(--border_color_primary);
        border-top-right-radius: var(--border_radius);
        border-top-left-radius: var(--border_radius);
    }
    .body_container {
        position: relative;
        grid-row: 2;
        height: 100%;

        display: grid;
        grid-template-rows: 3fr 7fr;
        grid-template-columns: 100%;
    }
    .header_action_container {
        grid-column: 3;
        height: 100%;
        margin-right: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 8px;
    }
    .header_action_connector {
        color: black !important;
        font-weight: 400 !important;
    }
    .action_sidebar {
        display: none;
    }
}
@media only screen and (min-width: 1100px) {
    .page {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: 48px calc(100% - 48px);
        grid-template-columns: 1fr max-content;
    }
    .header_container {
        grid-row: 1;
        grid-column: 1 / span 2;
        width: 100%;

        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: max-content auto max-content;
        background-color: var(--background_color_primary);

        border-bottom: 1px solid var(--border_color_primary);
        border-top-right-radius: var(--border_radius);
        border-top-left-radius: var(--border_radius);
    }
    .body_container {
        position: relative;
        grid-row: 2;
        grid-column: 1;

        height: 100%;
        display: grid;
        grid-template-rows: 3fr 7fr;
        grid-template-columns: 100%;
    }
    .header_action_container {
        display: none;
    }
    .action_sidebar {
        border-left: 1px solid var(--border_color_primary);
        grid-row: 2;
        grid-column: 2;
        background-color: white;
    }
    .action_list {
        display: grid;
        grid-template-rows: max-content max-content max-content;
        margin: 8px 8px;
    }
    .data_actions {
        border-radius: 8px;
        border: 1px solid var(--border_color_primary);
        background-color: white;
    }
    .project_actions {
        border-radius: 8px;
        border: 1px solid var(--border_color_primary);
        background-color: white;
    }
    .sidebar_connector_selection {
        width: calc(100% - 12px);
        margin-left: 6px;
    }
}

.page_title {
    font-size: 1rem;
}

.header_left_container {
    grid-column: 1;
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 2px;
}

.output_card {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    border-bottom: 1px solid var(--border_color_primary);
}

.editor_card {
    grid-column: 1;
    grid-row: 2;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
