.root {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.component_section {
    padding: 16px;
    width: 100%;
    max-width: 1000px;
}

.component_section_header {
    font-size: 1.1rem;
    padding: 8px 0 0 0;
}

.component {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.component_title {
    font-weight: 500;
}

.component_variants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
}

.component_variant_delimiter {
    width: 100%;
    border-bottom: 1px solid red;
    padding: 8px 0;
}


.histogram_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr;
}

.histogram_plot {
    grid-row: 1;
    position: relative;
}
.histogram_plot_svg {
    position: absolute;
}

.histogram_axis_x {
    grid-row: 2;

    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    font-size: 0.88rem;
}

.histogram_axis_x_lb {
    grid-column: 1;

}
.histogram_axis_x_ub {
    grid-column: 3;
}
