:root {
    --color_primary: rgb(40, 40, 40);
    --color_version: rgb(160, 160, 160);
    --color_icon: hsl(212, 8%, 33%);
    --background_color_primary: rgb(246, 248, 250);
    --border_color_primary: rgb(208, 215, 222);
    --border_radius: 8px;
    --headerbar_background_color: rgb(246, 248, 250);
    --navbar_indicator_width: 3px;
    --navbar_indicator_color: rgb(254, 150, 0);
    --navbar_background: hsl(210, 24%, 92%);
    --navbar_background_active: hsl(210, 24%, 88%);
    --loader_background: rgb(246, 248, 250);
}

:root {
    font-family: 'Roboto';
    color: var(--color_primary);
}

* {
    box-sizing: border-box;
}
