:root {
    --data_table_bg_metadata: hsl(210, 29%, 96%);
    --data_table_bg_corner: hsl(210, 29%, 98%);
    --data_table_bg_header: hsl(210, 29%, 98%);
    --data_table_bg_data: white;
    --data_table_bg_plots: hsl(210, 29%, 98%);
    --data_table_bg_focus_primary: hsl(46deg, 36%, 90%);
    --data_table_bg_focus_secondary: hsl(46deg, 36%, 94%);
    --data_table_border_focus_primary: hsl(46deg, 36%, 60%);
}

.root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0.95rem;
}

.data_grid_cells {
    position: relative;
}

.header_cell {
    background-color: hsl(210, 29%, 98%);
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 8px;
    padding-right: 2px;
    font-weight: 500;

    /* Needed for inline-flex alignment */
    vertical-align: top;
}

.header_metadata_cell {
    background-color: var(--data_table_bg_metadata);
}

.header_cell_name {
    flex: 1;
}

.header_cell_actions {

}

.header_corner_cell {
    background-color: var(--data_table_bg_corner);
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: right;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;

    /* Needed for inline-flex alignment */
    vertical-align: top;
}

.plots_cell {
    background-color: var(--data_table_bg_plots);
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 500;

    /* Needed for inline-flex alignment */
    vertical-align: top;
}

.plots_empty_cell {
    background-color: var(--data_table_bg_metadata);
}

.plots_progress {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.plots_progress_spinner {
    width: 36px;
    height: 36px;
}

.plots_corner_cell {
    background-color: var(--data_table_bg_corner);
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;

    /* Needed for inline-flex alignment */
    vertical-align: top;
}

.row_header_cell {
    background-color: var(--data_table_bg_header);
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: right;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;

    /* Needed for inline-flex alignment */
    vertical-align: top;

    z-index: 2;
}

.data_cell {
    background-color: var(--data_table_bg_data);
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;

    /* Needed for inline-flex alignment */
    vertical-align: top;
}

.data_cell_metadata {
    background-color: var(--data_table_bg_metadata);
}

.data_cell_null {
    color: hsl(208.5deg, 14.69%, 78.76%);
}

.data_cell_focused_primary {
    background-color: var(--data_table_bg_focus_primary);
    border: 1px solid var(--data_table_border_focus_primary);
    z-index: 1;
}

.data_cell_focused_secondary {
    background-color: var(--data_table_bg_focus_secondary);
}
