.root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0.95rem;
}

.data_grid_cells {
    position: relative;
}

.header_cell {
    background-color: hsl(210, 29%, 98%);
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 8px;
    padding-right: 2px;
    font-weight: 500;

    /* Needed for inline-flex alignment */
    vertical-align: top;
}

.header_cell_name {
    flex: 1;
}

.header_cell_actions {

}

.header_zero_cell {
    background-color: hsl(210, 29%, 98%);
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: right;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;

    /* Needed for inline-flex alignment */
    vertical-align: top;
}

.plots_cell {
    background-color: hsl(210, 29%, 98%);
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 500;

    /* Needed for inline-flex alignment */
    vertical-align: top;
}

.plots_progress {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.plots_progress_spinner {
    width: 36px;
    height: 36px;
}

.plots_zero_cell {
    background-color: hsl(210, 29%, 98%);
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;

    /* Needed for inline-flex alignment */
    vertical-align: top;
}

.row_zero_cell {
    background-color: hsl(210, 29%, 98%);
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: right;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;

    /* Needed for inline-flex alignment */
    vertical-align: top;
}

.data_cell {
    background-color: white;
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;

    /* Needed for inline-flex alignment */
    vertical-align: top;
}
