.root {
    max-width: 200px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr;
}

.plot {
    grid-row: 1;
    position: relative;
}
.plot_svg {
    position: absolute;
}
