.root {
    height: 100%;
    display: grid;
    grid-template-columns: auto max-content max-content;
    grid-template-rows: 100%;
}

.data_table {
    grid-row: 1;
    grid-column: 1;
}

.info_toggle {
    display: flex;
    flex-direction: column;
    width: 12px;
    background-color: hsl(210, 29%, 98%);
    border-left: 1px solid var(--border_color_primary);
    position: relative;
}

.info_toggle::after {
    content: "";
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 1px);
    height: 24px;
    width: 2px;
    background-color: hsl(208.5deg, 24.69%, 31.76%);
    border-radius: 8px;
}

