.root {
    height: 100%;
    display: grid;
    grid-template-columns: auto 220px;
    grid-template-rows: 100%;
}

.data_table {
    grid-row: 1;
    grid-column: 1;
}

.info_container {
    grid-row: 1;
    grid-column: 2;
    border-left: 1px solid var(--border_color_primary);
}

.metrics_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}
.metrics_group {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    padding: 6px 0;
}
.metrics_group:not(:first-child) {
    border-top: 1px solid var(--border_color_primary);
}
.metric_key {
    font-weight: 500;
    padding: 0 8px 0 16px;
    height: 28px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
.metric_value {
    font-size: 0.9rem;
    height: 28px;
    padding: 0 16px 0 8px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
