.graph_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.graph_nodes {
    position: relative;
    width: 100%;
    height: 100%;
}

.graph_background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.graph_edges {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: var(--graph_edges_bg);
}
