:root {
    --catalog_edges_bg: hsl(210deg, 12.68%, 84.16%);
    --catalog_shadow_height: 6px;
    --catalog_edge_focus_color: hsl(212.44deg, 92.07%, 44.51%);

    --catalog_overlay_border: 1px solid hsl(208.5deg 24.69% 28.76%);
    --catalog_overlay_background: hsl(208.5deg, 24.69%, 31.76%);
    /* --catalog_overlay_background: hsl(208.5deg, 24.69%, 23.76%); */
    /* --catalog_overlay_header_background: hsl(208.5deg, 24.69%, 31.76%); */
    --catalog_overlay_header_background: hsl(208.5deg 24.69% 40.76%);
}

.root {
    position: root;
    width: 100%;
    height: 100%;
}

.board_container {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.board_container:before {
    /* Shadow TOP */
    content: '';
    background: radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)) center top;
    width: 100%;
    height: var(--catalog_shadow_height);
    display: block;
    position: absolute;
    z-index: 100;
}
.board_container:after {
    /* Shadow BOTTOM */
    content: '';
    background: radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)) center bottom;
    width: 100%;
    height: var(--catalog_shadow_height);
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 100;
}
.board_container_shadows:before {
    /* Shadow Cover TOP */
    content: '';
    background: var(--catalog_bg);
    display: block;
    position: sticky;
    width: 100%;
    height: var(--catalog_shadow_height);
    z-index: 101;
}

.board_container_shadows:after {
    /* Shadow Cover BOTTOM */
    content: '';
    background: var(--catalog_bg);
    display: block;
    position: sticky;
    width: 100%;
    height: var(--catalog_shadow_height);
    z-index: 101;
}


.board {
    position: relative;
    width: 100%;
}

.node_layer {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
}
.node_layout {
    position: relative;
}

.edge_layer {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    color: var(--catalog_edges_bg);
}

.edge_layer_focused {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    color: var(--catalog_edge_focus_color);
}

.overlay_container {
    position: absolute;
    top: 16px;
    left: 16px;
    overflow: hidden;
    background: var(--catalog_overlay_background);
    border-radius: var(--border_radius);
    border: var(--catalog_overlay_border);

    display: grid;
    grid-template-rows: 32px 1fr;
    color: white;
    font-weight: 300;
    font-size: 0.9rem;
}

.overlay_header_container {
    grid-row: 1;

    display: flex;
    align-items: center;

    background: var(--catalog_overlay_header_background);
    padding: 0px 12px;
}

.overlay_body_container {
    grid-row: 2;
}

.overlay_body_list {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(auto-fit, 24px);
    grid-column-gap: 8px;
    grid-row-gap: 4px;
    align-items: center;
    font-weight: 400;
    font-size: 0.8rem;
}

.overlay_body_list_key {
    padding-left: 12px;
}

.overlay_body_list_value {
    padding-right: 12px;
    min-width: 100px;
    text-align: right;
}
