:root {
    --catalog_edges_bg: hsl(210deg, 12.68%, 84.16%);
    --catalog_shadow_height: 6px;
    --catalog_edge_focus_color: hsl(212.44deg, 92.07%, 44.51%);

    --catalog_overlay_border: 1px solid hsl(208.5deg 24.69% 28.76%);
    --catalog_overlay_background: hsl(208.5deg, 24.69%, 31.76%);
    /* --catalog_overlay_background: hsl(208.5deg, 24.69%, 23.76%); */
    /* --catalog_overlay_header_background: hsl(208.5deg, 24.69%, 31.76%); */
    --catalog_overlay_header_background: hsl(208.5deg 24.69% 40.76%);
}

.root {
    position: relative;
    width: 100%;
    height: 100%;
}

.board_container {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.board_container:before {
    /* Shadow TOP */
    content: '';
    background: radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)) center top;
    width: 100%;
    height: var(--catalog_shadow_height);
    display: block;
    position: absolute;
    z-index: 100;
}
.board_container:after {
    /* Shadow BOTTOM */
    content: '';
    background: radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)) center bottom;
    width: 100%;
    height: var(--catalog_shadow_height);
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 100;
}
.board_container_shadows:before {
    /* Shadow Cover TOP */
    content: '';
    background: var(--catalog_bg);
    display: block;
    position: sticky;
    width: 100%;
    height: var(--catalog_shadow_height);
    z-index: 101;
}

.board_container_shadows:after {
    /* Shadow Cover BOTTOM */
    content: '';
    background: var(--catalog_bg);
    display: block;
    position: sticky;
    width: 100%;
    height: var(--catalog_shadow_height);
    z-index: 101;
}


.board {
    position: relative;
    width: 100%;
}

.node_layer {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
}
.node_layout {
    position: relative;
}

.edge_layer {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    color: var(--catalog_edges_bg);
}

.edge_layer_focused {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    color: var(--catalog_edge_focus_color);
}

.actions_container {
    position: absolute;
    left: 16px;
    top: 8px;

    background-color: white;
    border-radius: 8px;
    border: 1px solid var(--border_color_primary);
    display: flex;
    flex-direction: column;
}

.action {
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.action:not(:first-child) {
    border-top: 1px solid var(--border_color_primary);
}
