.graph_container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; /* XXX use react scrollbar */
}

.graph_nodes {
    position: absolute;
    width: 100%;
    height: 100%;
}

.graph_background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.graph_edges {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--graph_edges_bg);
}

.graph_debug_info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.graph_edge_highlighting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.graph_controls_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.graph_controls_header {
    position: absolute;
    top: 12px;
    left: 16px;
    font-size: 1rem;
    color: var(--graph_title_fg);
}
