.list {
    display: grid;
    column-gap: 8px;
}
.list_name {
    grid-row: 1;
    grid-column: 1;
    font-weight: 600;
    font-size: 14px;
    align-self: end;
}
.list_caption {
    grid-row: 2;
    grid-column: 1;
    font-size: 12px;
    color: #656d76;
    margin-top: 2px;
    align-self: start;
}
.add_button {
    grid-row: 1 / span 2;
    grid-column: 2;
    margin-top: 8px;
    justify-self: right;
}

.list_elements {
    grid-row: 3;
    grid-column: 1 / span 2;
    display: grid;
    margin-top: 8px;
    row-gap: 8px;
}
.element {
    position: relative;
    display: grid;
    grid-template-rows: max-content max-content;
    row-gap: 8px;
    position: relative;
}

.path {
    grid-row: 1;
    grid-column: 1;
}

.alias {
    width: calc(100% - 36px) !important;
    margin-left: 36px;
}

.aliaslink {
    position: absolute;
    left: 20px;
    top: 33px;
    width: 15px;
    height: 24px;

    border-bottom: 1px solid var(--border_color_primary);
    border-left: 1px solid var(--border_color_primary);
    border-bottom-left-radius: 6px;
}
