.cm-scroller {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}
.cm-editor {
    height: 100%;
    width: 100%;
    outline: none !important;
    font-size: 0.95rem;
    background-color: transparent;
}
.cm-gutters {
    padding-left: 8px;
    background-color: var(--editor_gutter_bg) !important;
}

.cm-editor * {
    font-family: 'Roboto Mono';
}
