.container {
    width: 100%;
    height: 100%;
}

.editor_with_header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px calc(100% - 40px);
}

.tab {
    position: relative;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid transparent;
    border-radius: var(--border_radius);
    color: var(--button_fg);
}
.tab:hover {
    background-color: var(--editortabs_background_active);
}
.tab_active {
    background-color: var(--editortabs_background_active) !important;
    color: var(--editortabs_foreground_active) !important;
}
.tab_disabled {
    display: none !important;
}

.headerbar {
    grid-row: 1;
    grid-column: 1;
    border-bottom: 1px solid var(--border_color_primary);
    background-color: var(--editor_header_bg);

    display: grid;
    grid-template-columns: auto max-content max-content;
    grid-template-rows: 100%;
}

.script_title_container {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.script_title {
    margin-left: 16px;
    font-size: 1rem;
}

.script_statistics_container {
    grid-column: 2;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
}
.script_statistics_toggle {
    margin-right: 4px;
}
.button_icon {
    pointer-events: none;
}

.editor_with_loader {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: 100%;
}

.editor {
    height: 100%;
    width: 100%;
}
