@media only screen and (max-width: 400px) {
    .sharing_overlay {
        padding: 8px;
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }
}
@media only screen and (min-width: 400px) {
    .sharing_overlay {
        padding: 8px;
        width: 400px;
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }
}

.sharing_title {
    grid-row: 1;
    grid-column: 1 / span 2;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0px 2px 0px 2px;
}
.sharing_url {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 8px;
}
