@media only screen and (max-width: 400px) {
    .filesave_overlay {
        display: grid;
        grid-template-rows: max-content;
        grid-template-columns: 20px 1fr max-content;
        padding: 8px;
        column-gap: 8px;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 400px) {
    .filesave_overlay {
        display: grid;
        grid-template-rows: max-content;
        grid-template-columns: 20px 1fr max-content;
        padding: 8px;
        width: 200px;
        column-gap: 8px;
        justify-content: center;
        align-items: center;
    }
}

.filesave_file_icon_container {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    justify-items: center;
    align-items: center;
}
.filesave_file_info {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
}
.filesave_file_name {
    grid-row: 1;
    font-size: 0.9rem;
    font-weight: 500;
}
.filesave_file_stats {
    grid-row: 2;
    font-size: 0.7rem;
}
.filesave_download {
    grid-row: 1;
    grid-column: 3;
}
