.entry_list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 8px 0px;
}

.entry_container {
    padding: 0px 8px;
}

.entry_key_container {
    border-radius: var(--border_radius);
    border: 1px solid var(--border_color_primary);
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry_key_name {}

.entry_feature_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.entry_feature {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr max-content;
    column-gap: 4px;
    font-size: 0.8rem;
    padding-left: 16px;
    padding-right: 8px;

    justify-content: start;
    align-items: center;
}

.entry_feature_name {
    grid-column: 1;

    border-radius: var(--border_radius);
    font-weight: 400;
    color: rgb(60, 60, 60);
}

.entry_feature_count {
    grid-column: 2;

    color: rgb(160, 160, 160);
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0px 6px;
    background-color: hsl(210, 29%, 96%);
    border-radius: 4px;
}
