@media only screen and (max-width: 800px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        background: var(--background);
    }

    .banner_container {
        display: grid;
        grid-template-columns: max-content max-content;
        grid-template-rows: max-content;
        column-gap: 16px;
        margin-bottom: 24px;
        align-items: center;
    }
    .banner_text_container {
        display: grid;
        grid-template-rows: max-content max-content;
        grid-template-columns: max-content;
        row-gap: 2px;
    }
    .banner_logo {
        display: grid;
        align-items: center;
        justify-content: center;

        width: 56px;
        height: 56px;
        color: white;
    }
    .banner_title {
        font-size: 1.6rem;
        font-family: 'Roboto Mono';
        font-weight: 400;
        color: white;
    }
    .app_version {
        font-size: 0.9rem;
        opacity: 0.7;
        color: white;
    }
}
@media only screen and (min-width: 800px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 100%;
        background: var(--background);
    }

    .banner_container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        row-gap: 8px;
        align-items: center;
        justify-content: center;
        margin-right: 64px;
    }
    .banner_text_container {
        display: grid;
        grid-template-rows: max-content max-content;
        grid-template-columns: max-content;
        row-gap: 2px;
    }
    .banner_logo {
        display: grid;
        align-items: center;
        justify-content: center;
        justify-self: center;
        width: 80px;
        height: 80px;
        color: white;
    }
    .banner_title {
        font-size: 1.6rem;
        font-family: 'Roboto Mono';
        font-weight: 400;
        color: white;
    }
    .app_version {
        font-size: 0.9rem;
        opacity: 0.7;
        color: white;
    }
}

.card_container {
    width: 360px;
    border: 1px solid var(--border_color_primary);
    border-radius: var(--border_radius);
    background-color: white;
}

.card_header {
    padding: 8px;
    border-radius: var(--border_radius) var(--border_radius) 0px 0px;
    background-color: var(--loader_card_header_background);
}
.card_section_header {
    font-weight: 500;
    font-size: 0.8rem;
}

.card_section {
    padding: 8px;
    border-top: 1px solid var(--border_color_primary);
}
.detail_entries {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 4px;
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 8px;
    column-gap: 24px;
    align-items: center;
}
.detail_entry_value {
    justify-self: right;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;

    display: flex;
    flex-direction: row;
    column-gap: 4px;
}
.detail_entry_key {
    font-size: 0.9rem;
}
.bean {
    font-size: 0.9rem;
    border-radius: 6px;
    background-color: hsl(210, 29%, 95%);
    padding: 2px 8px;
}

.card_status {
    column-gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.card_status_text {
    font-size: 0.9rem;
    font-weight: 400;
}

.card_actions {
    border-top: 1px solid var(--border_color_primary);
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    column-gap: 8px;
    padding: 8px;
}

.card_action_continue {
    grid-column: 3;
}
.card_action_skip {
    grid-column: 1;
}
.card_status_text {
    grid-column: 2;
    text-align: right;
}
.card_action_restart {
    grid-column: 3;
}
