.root {
    width: 100%;
    height: 100%;
    min-height: 30px;
    font-size: 90%;

    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;

    border-top-right-radius: var(--border_radius);
    border-bottom-right-radius: var(--border_radius);
    overflow: hidden;
}

.title_container {
    grid-row: 1;
    grid-column: 1;

    display: grid;
    grid-template-rows: 39px;
    grid-template-columns: max-content 1fr;
    align-items: center;

    border-bottom: 1px solid rgb(210, 210, 210);
}

.title {
    margin-left: 16px;
    font-size: 1rem;
}

.grid_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.header_grid {
    grid-row: 2;
    grid-column: 1;
}

.header_background {
    grid-row: 2;
    grid-column: 1;
    border-top-right-radius: var(--border_radius);
    background-color: hsl(210, 29%, 98%);
    border-bottom: 1px solid rgb(210, 210, 210);
}

.data_grid {
    grid-row: 3;
    grid-column: 1;
}

.header_cell {
    background-color: hsl(210, 29%, 98%);
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;
}

.header_zero_cell {
    background-color: hsl(210, 29%, 98%);
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: grid;
    align-items: center;
    text-align: right;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;
}

.row_zero_cell {
    background-color: hsl(210, 29%, 98%);
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: grid;
    align-items: center;
    text-align: right;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;
}

.data_cell {
    background-color: white;
    border-right: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    display: grid;
    align-items: center;
    text-align: right;
    padding-left: 8px;
    padding-right: 8px;
}
