.root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px calc(100% - 40px);
    height: 100%;
}

.header_bar {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 100%;

    border-bottom: 1px solid var(--border_color_primary);
    align-items: center;
}

.header_title {
    margin-left: 16px;
}

.data_container {
    background-color: white;
}

.result_info_container {

}
