
.connector_header_container {
    height: 48px;

    display: grid;
    grid-template-columns: 56px auto max-content;
    grid-template-rows: 100%;

    background-color: var(--connection_settings_header_background);
    border-bottom: 1px solid var(--border_color_primary);
    border-radius: calc(var(--border_radius) - 1px) calc(var(--border_radius) - 1px) 0px 0px;
}
.connector_body_container {
    min-height: 48px;
}

.platform_logo {
    grid-row: 1;
    grid-column: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.platform_name {
    grid-row: 1;
    grid-column: 2;

    font-size: 1rem;

    display: flex;
    align-items: center;
}

.platform_info {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    align-items: center;
    margin-right: 8px;
}
