.section_list_container {
    grid-row: 1;
    grid-column: 1;

    border-right: 1px solid var(--border_color_primary);
    background-color: var(--settings_section_list_bg);
    padding: 4px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.section_list_entry {
    padding: 8px 16px;
    border-radius: var(--border_radius);
    font-size: 0.9rem;
}

.section_list_entry_active {
    background-color: hsl(210, 24%, 82%);
}
